## Dataset Generation

Generation of datasets for multiclass classification and regression cases

### Multiclass classification

In [5]:
from sklearn.datasets import make_classification
import pandas as pd

Because we want to know which are the real informative features, we generate the data without shuffeling.
Then we safe the the names of the features with x for informative and y for the rest. Random state is set to 42 so the datasets will always be the same.

In [24]:
"""
Dataset 1
20000 samples with 100 features with 15 informative features, 10 classes. 
There are no redundant or repeated features,
all classes have the same weights.
"""
data1 = make_classification(n_samples=20000,n_features=100, n_classes=10, n_informative=15, shuffle=False, random_state=42)

# create feature names
columns = []
for i in range(100):
    if i < 15:
        columns.append("x"+str(i))
    else:
        columns.append("y"+str(i))

# create dataframe
data1_df = pd.DataFrame(data1[0], columns=columns)

# shuffle features
data1_df = data1_df.sample(frac=1, axis=1)

# add label
data1_df["label"] = data1[1]

# shuffle rows
data1_df = data1_df.sample(frac=1).reset_index(drop=True)

# split into train and test
data1_df_train = data1_df.iloc[:14999,]
data1_df_test = data1_df.iloc[15000:,]

#write data
data1_df_train.to_csv("dataset_1_train.csv", header=False,index=False)
data1_df_test.to_csv("dataset_1_test.csv", index=False)

In [27]:

"""
Dataset 2
50000 samples with 500 features with 80 informative features, 6 classes. 
There are 50 redundant and repeated features,
all classes have the same weights.
"""
data2 = make_classification(n_samples=50000,n_features=500, n_classes=6, n_informative=80, n_redundant=50, n_repeated=50, shuffle=False, random_state=42)

# create feature names
columns = []
for i in range(500):
    if i < 80:
        columns.append("x"+str(i))
    else:
        columns.append("y"+str(i))

# create dataframe
data2_df = pd.DataFrame(data2[0], columns=columns)

# shuffle features
data2_df = data2_df.sample(frac=1, axis=1)

# add label
data2_df["label"] = data2[1]

# shuffle rows
data2_df = data2_df.sample(frac=1).reset_index(drop=True)

# split into train and test
data2_df_train = data2_df.iloc[:39999,]
data2_df_test = data2_df.iloc[40000:,]

#write data
data2_df_train.to_csv("dataset_2_train.csv", header=False,index=False)
data2_df_test.to_csv("dataset_2_test.csv", index=False)

In [28]:
"""
Dataset 3
5000 samples with 250 features with 20 informative features, 8 classes. 
There are 50 redundant and repeated features,
all classes have the different weights.

"""
weights = [0.1, 0.05, 0.15, 0.2, 0.025, 0.125, 0.075, 0.275]
data3 = make_classification(n_samples=5000,n_features=250, n_classes=8, n_informative=20, n_redundant=50, n_repeated=50, shuffle=False, random_state=42, weights=weights)

# create feature names
columns = []
for i in range(250):
    if i < 20:
        columns.append("x"+str(i))
    else:
        columns.append("y"+str(i))

# create dataframe
data3_df = pd.DataFrame(data3[0], columns=columns)

# shuffle features
data3_df = data3_df.sample(frac=1, axis=1)

# add label
data3_df["label"] = data3[1]

# shuffle rows
data3_df = data3_df.sample(frac=1).reset_index(drop=True)

# split into train and test
data3_df_train = data3_df.iloc[:4199,]
data3_df_test = data3_df.iloc[4200:,]

#write data
data3_df_train.to_csv("dataset_3_train.csv", header=False,index=False)
data3_df_test.to_csv("dataset_3_test.csv", index=False)

### Regression Case

In [2]:
from sklearn.datasets import make_regression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

Here we can get the informative features via the coef parameter. So we don't need to shuffle the result.

In [17]:
"""
Dataset1

"""

data1 = make_regression(n_samples=20000, n_features=150, n_informative=25, coef=True, random_state=42)

data1_df = pd.DataFrame(data1[0], columns = ['x'+str(i) for i in range(150)])

data1_df_norm = pd.DataFrame(MinMaxScaler().fit_transform(data1_df))
data1_df_norm.columns = data1_df.columns


data1_df["y"] = data1[1]
data1_df_norm["y"] = data1[1]

informative_ftrs = data1_df.columns[np.where(data1[2] != 0)[0]]

print(informative_ftrs)

# shall labels also be scaled?
scaler = MinMaxScaler()
data1_df_norm = pd.DataFrame(scaler.fit_transform(data1_df))
data1_df_norm.columns = data1_df.columns

# split into train and test
data1_df_train = data1_df.iloc[:16999,]
data1_df_test = data1_df.iloc[17000:,]
data1_df_norm_train = data1_df_norm.iloc[:16999,]
data1_df_norm_test = data1_df_norm.iloc[17000:,]

#write data
data1_df_train.to_csv("dataset_1_train.csv", header=False,index=False)
data1_df_test.to_csv("dataset_1_test.csv", index=False)
data1_df_norm_train.to_csv("dataset_1_norm_train.csv", header=False,index=False)
data1_df_norm_test.to_csv("dataset_1_norm_test.csv", index=False)

Index(['x27', 'x30', 'x31', 'x33', 'x36', 'x37', 'x42', 'x43', 'x44', 'x47',
       'x50', 'x62', 'x70', 'x71', 'x75', 'x83', 'x84', 'x92', 'x106', 'x111',
       'x121', 'x127', 'x129', 'x130', 'x134'],
      dtype='object')

In [11]:
data1_df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x141,x142,x143,x144,x145,x146,x147,x148,x149,y
0,0.363295,-0.012783,0.374919,0.260799,0.917397,0.639888,-0.010880,0.506227,-0.351040,-1.217388,...,1.091412,0.981406,1.750194,0.182395,0.864996,0.795631,-0.433815,2.324069,-1.105584,-377.899587
1,-0.726582,-1.445475,1.016521,-0.969239,1.391141,-0.108439,-0.939410,1.873355,-0.909133,2.001106,...,-0.903256,-0.427354,0.753269,-0.410664,2.061592,0.787312,2.012739,-1.796911,0.455194,-305.270482
2,1.344817,-0.525121,-1.173074,0.400606,0.039496,-2.424165,-0.611450,1.133134,2.512017,-0.710126,...,1.229416,-0.368352,-0.771242,-0.810087,-0.061102,0.736047,-2.409314,0.354049,-1.319514,224.077706
3,0.050311,0.439528,-1.876262,0.139468,1.168241,-1.960861,-0.435479,0.031992,0.395617,0.449874,...,-0.449745,3.290793,0.232329,0.064201,1.600393,0.812813,0.907833,-0.566153,0.086339,-539.531037
4,1.067035,-0.623631,0.512916,0.825379,0.286030,1.089491,0.356538,0.410469,-1.327049,-0.233147,...,-1.284710,0.812966,-1.351775,-1.103220,-1.152273,1.004233,0.875706,1.953713,-1.144131,12.304537

In [12]:
data1_df_norm

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x141,x142,x143,x144,x145,x146,x147,x148,x149,y
0,0.539695,0.451124,0.559326,0.525103,0.653768,0.586027,0.481511,0.528733,0.459680,0.342833,...,0.582495,0.652170,0.697513,0.516525,0.629170,0.607629,0.483760,0.807431,0.340381,0.300358
1,0.396130,0.281250,0.646126,0.382438,0.706285,0.493985,0.365994,0.688980,0.388020,0.736403,...,0.350362,0.466225,0.567283,0.443299,0.775412,0.606506,0.773343,0.292013,0.550230,0.333430
2,0.668987,0.390376,0.349904,0.541319,0.556449,0.209156,0.406795,0.602215,0.827300,0.404863,...,0.598555,0.474013,0.368134,0.393982,0.515988,0.599585,0.249934,0.561037,0.311618,0.574471
3,0.498467,0.504754,0.254772,0.511031,0.681575,0.266141,0.428688,0.473145,0.555552,0.546712,...,0.403140,0.956990,0.499232,0.501931,0.719046,0.609949,0.642562,0.445946,0.500637,0.226758
4,0.632396,0.378696,0.577996,0.590586,0.583778,0.641327,0.527221,0.517508,0.334359,0.463190,...,0.305970,0.629937,0.292298,0.357788,0.382631,0.635791,0.638760,0.761110,0.335198,0.478039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.303048,0.397097,0.495176,0.307644,0.467716,0.317082,0.450125,0.489887,0.365290,0.337080,...,0.423336,0.389491,0.508987,0.446840,0.506757,0.500543,0.584103,0.452739,0.679037,0.554957
19996,0.249990,0.403292,0.609317,0.550561,0.551938,0.596971,0.382092,0.438703,0.485087,0.583505,...,0.570975,0.359941,0.820436,0.404821,0.435515,0.454742,0.543995,0.472672,0.539340,0.431584
19997,0.611281,0.307671,0.573076,0.550150,0.422382,0.556910,0.260108,0.287418,0.417166,0.495153,...,0.465654,0.568454,0.576269,0.460062,0.579696,0.557853,0.460491,0.351093,0.420336,0.432653
19998,0.398906,0.516442,0.477008,0.321167,0.762279,0.583806,0.596648,0.393516,0.542167,0.676879,...,0.574789,0.512894,0.537328,0.628543,0.506139,0.609193,0.377617,0.578704,0.351134,0.384493
19999,0.612468,0.428362,0.714816,0.473858,0.546581,0.398795,0.549202,0.722345,0.499850,0.489066,...,0.326562,0.431985,0.630175,0.374499,0.530650,0.347490,0.433771,0.725023,0.422903,0.517498

In [13]:
data1_df_norm.max()

x0      1.0
x1      1.0
x2      1.0
x3      1.0
x4      1.0
       ...
x146    1.0
x147    1.0
x148    1.0
x149    1.0
y       1.0
Length: 151, dtype: float64