In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [9]:
# normalization
#dataset_path = 
df = pd.read_csv('datasets/Regression/ailerons_test.csv', header=None)
print(df.head())
target = df[40]
normalized_df = pd.DataFrame(MinMaxScaler().fit_transform(df.drop(columns=40)))
normalized_df[40] = target
normalized_df.to_csv('datasets/Regression/ailerons_test_norm.csv', header=None, index=None)

    0   1     2     3     4    5   6   7      8    9   ...   31     32   33  \
0 -387  10 -0.35  0.09  1.29  0.2 -19  13 -0.002 -0.3  ...  0.0  0.000  0.0
1 -209  -2 -0.30  0.20  1.13 -0.7 -20   5  0.008 -1.1  ...  0.0  0.000  0.0
2  -72 -11  0.14  0.41  1.04 -1.1 -20  -8  0.009 -2.6  ...  0.0  0.000  0.0
3 -175 -13  0.22  0.28  1.14 -0.9 -20 -10  0.007  0.6  ...  0.0 -0.001  0.0
4 -241 -16  0.29  0.31  1.21 -0.7 -20 -10  0.010 -0.3  ...  0.0  0.000  0.0

    34   35   36   37   38     39      40
0  0.0  0.0  0.0  0.0  0.9  0.032 -0.0017
1  0.0  0.0  0.0  0.0  0.9  0.033 -0.0016
2  0.0  0.0  0.0  0.0  1.0  0.035 -0.0015
3  0.0  0.0  0.0  0.0  1.0  0.035 -0.0014
4  0.0  0.0  0.0  0.0  1.0  0.035 -0.0020

[5 rows x 41 columns]

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2,-56,-0.33,-0.09,0.90,0.2,-11,12,0.004,-0.1,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.9,0.032
1,470,-39,0.02,0.12,0.39,-0.6,-12,8,0.009,-1.6,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.9,0.034
2,165,4,0.14,0.14,0.78,0.4,-11,-9,-0.003,-0.2,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,1.0,0.034
3,-113,5,-0.12,0.11,1.06,0.6,-10,-7,-0.008,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.9,0.033
4,-411,-21,-0.17,0.07,1.33,-0.6,-11,0,0.002,0.1,...,0.0,0.0,0.000,0.0,0.0,0.0,-0.002,0.0,0.9,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7149,-445,-9,0.20,-0.02,0.88,-0.2,-8,7,-0.002,-0.8,...,0.0,0.0,0.000,0.0,0.0,0.0,0.001,0.0,0.5,0.017
7150,9,20,-0.04,-0.03,0.47,-0.6,-9,6,0.002,0.0,...,0.0,0.0,0.001,0.0,0.0,0.0,0.000,0.0,0.5,0.017
7151,50,23,0.14,0.02,0.45,-0.5,-8,1,0.005,-0.1,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.5,0.017
7152,53,23,0.17,0.02,0.45,-0.4,-8,1,0.005,-0.1,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.5,0.017
7153,-84,23,-0.13,0.04,0.58,0.2,-8,-3,-0.005,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.000,0.0,0.5,0.018

In [23]:
# shuffle data and split into test and train
df = pd.read_csv('datasets/Multiclass/covtype.scale01.csv')
len(df)

581012

In [25]:
df = df.sample(frac=1)

In [28]:
df_train = df[:400000]
df_test = df[400001:]
df_test.to_csv('datasets/Multiclass/covtype.scale01.test.csv', index=False)
df_train.to_csv('datasets/Multiclass/covtype.scale01.train.csv', index=False)

In [29]:
df = pd.read_csv('datasets/Multiclass/har_train.csv', header = None)

In [32]:
df[561]

0       4
1       3
2       4
3       4
4       1
       ..
7347    3
7348    0
7349    2
7350    3
7351    5
Name: 561, Length: 7352, dtype: int64