## Python Softmax Regression

see http://www.datascribble.com/blog/machine-learning/introduction-softmax-regression-codes-python/

In [4]:
# libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math
import warnings

warnings.filterwarnings('ignore')

In [5]:
# phi fun: parameter matrix theta, feature vector x
def phi(i, theta, x): #i goes from 1 to k
    mat_theta = np.matrix(theta[i])
    mat_x = np.matrix(x)
    num = math.exp(np.dot(mat_theta, mat_x.T))
    den = 0
    for j in range(0, k):
        mat_theta_j = np.matrix(theta[j])
        den = den + math.exp(np.dot(mat_theta_j, mat_x.T))
    phi_i = num/den
    return phi

In [11]:
#testing
x = [1, 3,4,5,2,1,45,6,2]
x = np.matrix(x)
x[0,1]

3

In [12]:
# indicator function
def indicator(a, b):
    if a == b: return 1
    else: return 0

In [13]:
def get__der_gard(j, theta):
    sum = np.array([0 for i in range(0, n+1)])
    for i in range(0,m): #m noumber of trainig samples
        p = indicator(y[i], j) - phi(j, theta, x.loc[i])
        sum = sum + (x.loc[i] * p)
    grad = -sum/m 
    return grad

In [14]:
def gradient_descent(theta, alpha = 1/(10^4), iters = 500):
    for j in range(0, k):
        for iter in range(iters):
            theta[j] = theta[j] - alpha * get__der_gard(j, theta)
        print("running iterations")
        return theta

In [15]:
def h_theta(x): 
    x = np.matrix(x)
    h_matrix = np.empty((k,1))
    den = 0
    for j in range(0, k):
        den = den + math.exp(np.dot(thetadash[j], x.T))
    for i in range(0, k):
        h_matrix[i] = math.exp(np.dot(thetadash[i], x.T))
    h_matrix = h_matrix/den
    return h_matrix

In [22]:
iris = pd.read_csv('iris.data.txt')
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [23]:
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
train, test = train_test_split(iris, test_size = 0.3)
train = train.reset_index()
test = test.reset_index()

In [25]:
x = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
n = x.shape[1]
m = x.shape[0]

In [26]:
y = train['class']
k = len(y.unique())
y = y.map({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2})
y.value_counts()

1    36
0    35
2    34
Name: class, dtype: int64