## Python Softmax Regression

see http://www.datascribble.com/blog/machine-learning/introduction-softmax-regression-codes-python/

In [2]:
# libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math
import warnings

warnings.filterwarnings('ignore')

In [45]:
# phi fun: parameter matrix theta, feature vector x
def phi(i, theta, x): #i goes from 1 to k
    mat_theta = np.matrix(theta[i])
    mat_x = np.matrix(x)
    num = math.exp(np.dot(mat_theta, mat_x.T))
    den = 0
    for j in range(0, k):
        mat_theta_j = np.matrix(theta[j])
        den = den + math.exp(np.dot(mat_theta_j, mat_x.T))
    phi_i = num/den
    return phi_i

In [4]:
#testing
x = [1, 3,4,5,2,1,45,6,2]
x = np.matrix(x)
x[0,1]

3

In [5]:
# indicator function
def indicator(a, b):
    if a == b: return 1
    else: return 0

In [50]:
def get__der_grad(j, theta):
    sum = np.array([0 for i in range(0, n+1)])
    for i in range(0,m): #m noumber of trainig samples
       # print(j , " " , theta , ' ' , x.loc[i])
        p = indicator(y[i], j) - phi(j, theta, x.loc[i])
        sum = sum + (x.loc[i] * p)
    grad = -sum/m 
    return grad

In [52]:
def gradient_descent(theta, alpha = 1/(10^4), iters = 500):
    for j in range(0, k):
        #print(j)
        for iter in range(iters):
           # print('iter:'+ str(iter))
            theta[j] = theta[j] - alpha * get__der_grad(j, theta)
    print("running iterations")
    return theta

In [66]:
def h_theta(x): 
    x = np.matrix(x)
    h_matrix = np.empty((k,1))
    den = 0
    for j in range(0, k):
        den = den + math.exp(np.dot(theta_dash[j], x.T))
    for i in range(0, k):
        h_matrix[i] = math.exp(np.dot(theta_dash[i], x.T))
    h_matrix = h_matrix/den
    return h_matrix

In [9]:
iris = pd.read_csv('iris.data.txt')
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [10]:
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
train, test = train_test_split(iris, test_size = 0.3)
train = train.reset_index()
test = test.reset_index()

In [12]:
x = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
n = x.shape[1]
m = x.shape[0]

In [13]:
y = train['class']
k = len(y.unique())
y = y.map({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2})
y.value_counts()

0    37
2    35
1    33
Name: class, dtype: int64

In [53]:
# intercept part for lines fitted for our model
x[5] = np.ones(x.shape[0])
x.shape

(105, 5)

In [54]:
# start training 
# theta empty kxn+1 matrix
theta = np.empty((k,n+1))

# find parameters, apply gradient_descent(theta)
theta_dash = gradient_descent(theta)

running iterations

In [55]:
theta_dash

array([[ 0.62130655,  1.72493886, -2.63884983, -1.20227395,  0.35212048],
       [ 0.57658697,  0.20291812, -0.65084351, -0.98836168,  0.3691015 ],
       [-0.73471921, -0.9251635 ,  1.19161034,  1.0284434 , -0.46033265]])

In [57]:
#apply model
x_u = test[['sepal_length', "sepal_width", "petal_length", "petal_width"]]
n = x_u.shape[1]
m = x_u.shape[0]
print(m, n)

45 4

In [58]:
x_u

    sepal_length  sepal_width  petal_length  petal_width
0            5.8          2.8           5.1          2.4
1            6.3          3.4           5.6          2.4
2            7.7          3.0           6.1          2.3
3            5.2          2.7           3.9          1.4
4            6.4          3.1           5.5          1.8
5            5.1          3.5           1.4          0.3
6            4.9          3.0           1.4          0.2
7            6.2          2.2           4.5          1.5
8            6.4          2.9           4.3          1.3
9            7.3          2.9           6.3          1.8
10           6.7          3.1           5.6          2.4
11           5.2          3.5           1.5          0.2
12           5.8          2.7           4.1          1.0
13           5.6          2.9           3.6          1.3
14           6.5          3.0           5.8          2.2
15           5.1          3.8           1.9          0.4
16           6.8          2.8           4.8          1.4
17           5.7          3.0           4.2          1.2
18           5.4          3.4           1.7          0.2
19           5.5          2.5           4.0          1.3
20           4.3          3.0           1.1          0.1
21           4.7          3.2           1.3          0.2
22           6.3          2.5           5.0          1.9
23           6.8          3.2           5.9          2.3
24           4.9          2.4           3.3          1.0
25           4.9          3.1           1.5          0.1
26           6.5          2.8           4.6          1.5
27           5.9          3.0           5.1          1.8
28           5.1          3.4           1.5          0.2
29           6.9          3.1           4.9          1.5
30           6.0          2.2           4.0          1.0
31           6.9          3.1           5.4          2.1
32           5.0          3.6           1.4          0.2
33           7.7          2.6           6.9          2.3
34           5.7          2.8           4.1          1.3
35           6.9          3.2           5.7          2.3
36           6.6          3.0           4.4          1.4
37           5.2          4.1           1.5          0.1
38           4.6          3.2           1.4          0.2
39           6.1          2.8           4.7          1.2
40           5.5          2.4           3.8          1.1
41           7.7          3.8           6.7          2.2
42           5.7          2.6           3.5          1.0
43           4.9          3.1           1.5          0.1
44           6.7          3.3           5.7          2.1

In [59]:
y_true = test['class']
k = len(y_true.unique())
y_true = y_true.map({"Iris-setosa": 0, 'Iris-versicolor': 1, 'Iris-virginica': 2})
y_true.value_counts()

1    17
2    15
0    13
Name: class, dtype: int64

In [60]:
x_u[5] = np.ones(x_u.shape[0])
x_u.shape

(45, 5)

In [62]:
np.ones(x_u.shape[0])

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [63]:
x_u.shape

(45, 5)

In [67]:
for index, row in x_u.iterrows():
    print("index: ", index, " row: ", row)
    h_matrix = h_theta(row)
    prediction = int(np.where(h_matrix == h_matrix.max())[0])
    x_u.loc[index, 'prediction'] = prediction

index:  0  row:  sepal_length    5.8
sepal_width     2.8
petal_length    5.1
petal_width     2.4
5               1.0
Name: 0, dtype: float64
index:  1  row:  sepal_length    6.3
sepal_width     3.4
petal_length    5.6
petal_width     2.4
5               1.0
Name: 1, dtype: float64
index:  2  row:  sepal_length    7.7
sepal_width     3.0
petal_length    6.1
petal_width     2.3
5               1.0
Name: 2, dtype: float64
index:  3  row:  sepal_length    5.2
sepal_width     2.7
petal_length    3.9
petal_width     1.4
5               1.0
Name: 3, dtype: float64
index:  4  row:  sepal_length    6.4
sepal_width     3.1
petal_length    5.5
petal_width     1.8
5               1.0
Name: 4, dtype: float64
index:  5  row:  sepal_length    5.1
sepal_width     3.5
petal_length    1.4
petal_width     0.3
5               1.0
Name: 5, dtype: float64
index:  6  row:  sepal_length    4.9
sepal_width     3.0
petal_length    1.4
petal_width     0.2
5               1.0
Name: 6, dtype: float64
index:  7  row:  sepal_length    6.2
sepal_width     2.2
petal_length    4.5
petal_width     1.5
5               1.0
Name: 7, dtype: float64
index:  8  row:  sepal_length    6.4
sepal_width     2.9
petal_length    4.3
petal_width     1.3
5               1.0
Name: 8, dtype: float64
index:  9  row:  sepal_length    7.3
sepal_width     2.9
petal_length    6.3
petal_width     1.8
5               1.0
Name: 9, dtype: float64
index:  10  row:  sepal_length    6.7
sepal_width     3.1
petal_length    5.6
petal_width     2.4
5               1.0
Name: 10, dtype: float64
index:  11  row:  sepal_length    5.2
sepal_width     3.5
petal_length    1.5
petal_width     0.2
5               1.0
Name: 11, dtype: float64
index:  12  row:  sepal_length    5.8
sepal_width     2.7
petal_length    4.1
petal_width     1.0
5               1.0
Name: 12, dtype: float64
index:  13  row:  sepal_length    5.6
sepal_width     2.9
petal_length    3.6
petal_width     1.3
5               1.0
Name: 13, dtype: float64
index:  14  row:  sepal_length    6.5
sepal_width     3.0
petal_length    5.8
petal_width     2.2
5               1.0
Name: 14, dtype: float64
index:  15  row:  sepal_length    5.1
sepal_width     3.8
petal_length    1.9
petal_width     0.4
5               1.0
Name: 15, dtype: float64
index:  16  row:  sepal_length    6.8
sepal_width     2.8
petal_length    4.8
petal_width     1.4
5               1.0
Name: 16, dtype: float64
index:  17  row:  sepal_length    5.7
sepal_width     3.0
petal_length    4.2
petal_width     1.2
5               1.0
Name: 17, dtype: float64
index:  18  row:  sepal_length    5.4
sepal_width     3.4
petal_length    1.7
petal_width     0.2
5               1.0
Name: 18, dtype: float64
index:  19  row:  sepal_length    5.5
sepal_width     2.5
petal_length    4.0
petal_width     1.3
5               1.0
Name: 19, dtype: float64
index:  20  row:  sepal_length    4.3
sepal_width     3.0
petal_length    1.1
petal_width     0.1
5               1.0
Name: 20, dtype: float64
index:  21  row:  sepal_length    4.7
sepal_width     3.2
petal_length    1.3
petal_width     0.2
5               1.0
Name: 21, dtype: float64
index:  22  row:  sepal_length    6.3
sepal_width     2.5
petal_length    5.0
petal_width     1.9
5               1.0
Name: 22, dtype: float64
index:  23  row:  sepal_length    6.8
sepal_width     3.2
petal_length    5.9
petal_width     2.3
5               1.0
Name: 23, dtype: float64
index:  24  row:  sepal_length    4.9
sepal_width     2.4
petal_length    3.3
petal_width     1.0
5               1.0
Name: 24, dtype: float64
index:  25  row:  sepal_length    4.9
sepal_width     3.1
petal_length    1.5
petal_width     0.1
5               1.0
Name: 25, dtype: float64
index:  26  row:  sepal_length    6.5
sepal_width     2.8
petal_length    4.6
petal_width     1.5
5               1.0
Name: 26, dtype: float64
index:  27  row:  sepal_length    5.9
sepal_width     3.0
petal_length    5.1
petal_width     1.8
5               1.0
Name: 27, dtype: float64
index:  28  row:  sepal_length    5.1
sepal_width     3.4
petal_length    1.5
petal_width     0.2
5               1.0
Name: 28, dtype: float64
index:  29  row:  sepal_length    6.9
sepal_width     3.1
petal_length    4.9
petal_width     1.5
5               1.0
Name: 29, dtype: float64
index:  30  row:  sepal_length    6.0
sepal_width     2.2
petal_length    4.0
petal_width     1.0
5               1.0
Name: 30, dtype: float64
index:  31  row:  sepal_length    6.9
sepal_width     3.1
petal_length    5.4
petal_width     2.1
5               1.0
Name: 31, dtype: float64
index:  32  row:  sepal_length    5.0
sepal_width     3.6
petal_length    1.4
petal_width     0.2
5               1.0
Name: 32, dtype: float64
index:  33  row:  sepal_length    7.7
sepal_width     2.6
petal_length    6.9
petal_width     2.3
5               1.0
Name: 33, dtype: float64
index:  34  row:  sepal_length    5.7
sepal_width     2.8
petal_length    4.1
petal_width     1.3
5               1.0
Name: 34, dtype: float64
index:  35  row:  sepal_length    6.9
sepal_width     3.2
petal_length    5.7
petal_width     2.3
5               1.0
Name: 35, dtype: float64
index:  36  row:  sepal_length    6.6
sepal_width     3.0
petal_length    4.4
petal_width     1.4
5               1.0
Name: 36, dtype: float64
index:  37  row:  sepal_length    5.2
sepal_width     4.1
petal_length    1.5
petal_width     0.1
5               1.0
Name: 37, dtype: float64
index:  38  row:  sepal_length    4.6
sepal_width     3.2
petal_length    1.4
petal_width     0.2
5               1.0
Name: 38, dtype: float64
index:  39  row:  sepal_length    6.1
sepal_width     2.8
petal_length    4.7
petal_width     1.2
5               1.0
Name: 39, dtype: float64
index:  40  row:  sepal_length    5.5
sepal_width     2.4
petal_length    3.8
petal_width     1.1
5               1.0
Name: 40, dtype: float64
index:  41  row:  sepal_length    7.7
sepal_width     3.8
petal_length    6.7
petal_width     2.2
5               1.0
Name: 41, dtype: float64
index:  42  row:  sepal_length    5.7
sepal_width     2.6
petal_length    3.5
petal_width     1.0
5               1.0
Name: 42, dtype: float64
index:  43  row:  sepal_length    4.9
sepal_width     3.1
petal_length    1.5
petal_width     0.1
5               1.0
Name: 43, dtype: float64
index:  44  row:  sepal_length    6.7
sepal_width     3.3
petal_length    5.7
petal_width     2.1
5               1.0
Name: 44, dtype: float64

In [68]:
results = x_u
results['actual'] = y_true

In [69]:
results

,sepal_length,sepal_width,petal_length,petal_width,5,prediction,actual
0,5.8,2.8,5.1,2.4,1.0,2.0,2
1,6.3,3.4,5.6,2.4,1.0,2.0,2
2,7.7,3.0,6.1,2.3,1.0,2.0,2
3,5.2,2.7,3.9,1.4,1.0,1.0,1
4,6.4,3.1,5.5,1.8,1.0,2.0,2
5,5.1,3.5,1.4,0.3,1.0,0.0,0
6,4.9,3.0,1.4,0.2,1.0,0.0,0
7,6.2,2.2,4.5,1.5,1.0,1.0,1
8,6.4,2.9,4.3,1.3,1.0,1.0,1
9,7.3,2.9,6.3,1.8,1.0,2.0,2
10,6.7,3.1,5.6,2.4,1.0,2.0,2
11,5.2,3.5,1.5,0.2,1.0,0.0,0
12,5.8,2.7,4.1,1.0,1.0,1.0,1
13,5.6,2.9,3.6,1.3,1.0,1.0,1
14,6.5,3.0,5.8,2.2,1.0,2.0,2
15,5.1,3.8,1.9,0.4,1.0,0.0,0
16,6.8,2.8,4.8,1.4,1.0,1.0,1
17,5.7,3.0,4.2,1.2,1.0,1.0,1
18,5.4,3.4,1.7,0.2,1.0,0.0,0
19,5.5,2.5,4.0,1.3,1.0,1.0,1
20,4.3,3.0,1.1,0.1,1.0,0.0,0
21,4.7,3.2,1.3,0.2,1.0,0.0,0
22,6.3,2.5,5.0,1.9,1.0,2.0,2
23,6.8,3.2,5.9,2.3,1.0,2.0,2
24,4.9,2.4,3.3,1.0,1.0,1.0,1
25,4.9,3.1,1.5,0.1,1.0,0.0,0
26,6.5,2.8,4.6,1.5,1.0,1.0,1
27,5.9,3.0,5.1,1.8,1.0,2.0,2
28,5.1,3.4,1.5,0.2,1.0,0.0,0
29,6.9,3.1,4.9,1.5,1.0,1.0,1
30,6.0,2.2,4.0,1.0,1.0,1.0,1
31,6.9,3.1,5.4,2.1,1.0,2.0,2
32,5.0,3.6,1.4,0.2,1.0,0.0,0
33,7.7,2.6,6.9,2.3,1.0,2.0,2
34,5.7,2.8,4.1,1.3,1.0,1.0,1
35,6.9,3.2,5.7,2.3,1.0,2.0,2
36,6.6,3.0,4.4,1.4,1.0,1.0,1
37,5.2,4.1,1.5,0.1,1.0,0.0,0
38,4.6,3.2,1.4,0.2,1.0,0.0,0
39,6.1,2.8,4.7,1.2,1.0,1.0,1
40,5.5,2.4,3.8,1.1,1.0,1.0,1
41,7.7,3.8,6.7,2.2,1.0,2.0,2
42,5.7,2.6,3.5,1.0,1.0,1.0,1
43,4.9,3.1,1.5,0.1,1.0,0.0,0
44,6.7,3.3,5.7,2.1,1.0,2.0,2

In [70]:
compare = results['prediction'] == results['actual']
correct = compare.value_counts()[1]
accuracy = correct/len(results)

In [71]:
accuracy * 100

100.0

In [73]:
compare

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
dtype: bool